/*-----------Public-----------*/

@font-face{
    font-family: Muli-Light;
    src:url("../fonts/Muli-Light.ttf")
}
@font-face{
    font-family: Muli-SemiBold;
    src:url("../fonts/Muli-SemiBold.ttf")
}
@font-face{
    font-family: Muli-Bold;
    src:url("../fonts/Muli-Bold.ttf");
}
@font-face {
 font-family: Muli-ExtraBold;
 src:url("../fonts/Muli-ExtraBold.ttf");
}
@font-face {
    font-family:Muli-Black;
 src:url("../fonts/Muli-Black.ttf");
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;;
}
a{
    color:black;
}
img{
    width:100%;
}
body, html{
    margin:0;
    padding:0;
    background:#FAFBFF;
    font-family: Muli-Light;
}
/*--------------Hearo-------------*/
.HeaderContainer{
    background-image: url("../images/header.png");
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
header{
    padding-top:20px;
}
.navbar-brand{
    width:166px;
}
.signInSection{
    float:right;
}
.SignIn.btn{
    background-color:white;
    border-radius: 50px;
    width:121px;
    height:40px;
    color:#F5BB16;
    font-size:.875em;
    text-align: center;
    margin-left:8px;
}
.SignIn.btn:hover{
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    color:white;
}
.form-group-title{
    font-size:1.125em;
    font-family: Muli-Bold;
}
.navbar-expand-lg{
    width:100%;
}
.heroSection{
    margin-top:80px;
    color:white;
    padding-bottom:180px;
}
.JoinBox{
    background-color:white;
    padding:65px 35px 50px;
    border-radius: 40px;;
    color:#202020;
}
.heroText{
    font-size:2.5em;
    margin-bottom:50px;
    max-width:75%;
    font-family: Muli-Bold;
}
.radioButtonContainer{
    display: inline-block;
    position: relative;
    padding-left: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.125em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left:33px;
}
.radioButton{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
}
.checkmark {
    position: absolute;
    top: 3px;;
    left:-5px;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    border:1px solid #F5BB16;
    padding:6px;
    
  }
  .radioButtonContainer:hover .radioButton ~ .checkmark {
    background-color: white;
  }
 
  .radioButtonContainer .radioButton:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radioButtonContainer .checkmark:after {
      content:"";
      top: 2px;
      left: 2px;
      position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F5BB16;
    display: none
  }
  .form-control.ageconttrol{
      width:85px;
      height:55px;
      border-radius: 58px;
      border:1px solid #E5E5E5;
      display: inline-block;
  }
  .form-control.ageconttrol::placeholder{
      font-size:1.125em;
      color:#202020;
      opacity: .7;
      text-align: center;
  }
  .Rightside .dash{
      margin:0 10px;
      color:#707070;
      font-size: 1.125em;
  }
  .hero .form-group{
      margin-bottom: 0;;
  }
.heroForm  .formlist{
padding-top:25px;
padding-bottom:25px;
border-bottom: 1px solid #707070;
  }
  .heroForm  .formlist:last-child{
          border-bottom: 0;
      }
      .heroForm  .formlist:first-child{
padding-top: 0;
      }
  .selectric-wrapper{
width:255px;
height:55px;
border-radius: 58px;
border:1px solid #E5E5E5;
  }
  .selectric-items li:hover {
    color: #fff;
    background-color: #F5BB16;
}
.selectric-items li.selected {
    color: #666;
}
.selectric-open .selectric-items{
    border-radius: 12px;;
}
.btn.joinBtn{
    width:190px;
    height:50px;
    border-radius: 58px;
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    margin:auto;
    color:white;
    transition: all .3s;
}
.btn.joinBtn:hover{
    transition:all .3s;
 border:1px solid #F5BB16;
    color:#F5BB16;
    background: none;
    background-color:white;
    margin:auto;
}
.getMembership a{
    
    font-size:.875em;
    color:white;
    text-decoration: underline;
}
.getMembership {
    margin-top:22px;
    float:right;
}
.counters{
margin-top:50px;
padding-bottom:150px;
}
.counterBox{
    background-color:white;
    border-radius: 30px;
    text-align: center;
    padding:27px 0;  
    transition: all .5s;

}
.counterBox:hover .counterImg{
    transform:scale(1.1);
    transition: all .5s;
}
.counterBox:hover{
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    transition: all .5s;

}
.counterImg{
    width:90px;;
    margin:auto;
    margin-bottom:22px;
    height:70px;
    transition: all .5s;

}
.counterImg.genderImg{
    width:50px;
}
.counterNum{
    margin-top:22px;
    margin-bottom:11px;
    font-size:1.875em;
    font-family: Muli-ExtraBold;

}
.meetPeople{
    padding-bottom:127px;
}
.meetPeople h2{
font-size:3.125em;
max-width: 75%;
margin-bottom:60px;
color:#202020;
font-family:Muli-Black;
}
.meetPeople p{
    font-size:1.375em;
    color:#707070;
    margin-bottom:58px
}
.meetImg{
    width:90%;
    border-radius: 40px;
    overflow: hidden;
    float: right;
}
.howWork{
    padding-top:79px;
    padding-bottom:150px;
    background-image: url("../images/work.png");
}
.workBox{
    background-color:white;
    border-radius: 40px;
    box-shadow: 0px 15px 25px rgba(0,0,0,.7);
    padding:60px 0 55px;
    text-align: center;
}

.workImg{
    margin:auto;
    position: relative;
    width:195px;
    height:195px;
    margin-bottom:60px;
}
.howWork  .second_img.workImg{
width:278px;
}
.badge-info{
    position: absolute;
    width:65px;
    height:65px;
    border-radius: 50%;
    font-size: 1.625em;
    color:white;
    text-align: center;
    right: -3px;
    line-height: 50px;
    bottom: -14px;
    background: linear-gradient(45deg, #0086AE, #00C4FF);
}
.second_img.workImg .badge-info{
    right:62px;

}
.tellUs{
    font-size:1.625em;
    font-family: Muli-Bold;
    color:#202020;
    margin-bottom:23px;
}
.joinLink{
    font-size:1.250em;
    color:#F5BB16;
}
.Features{
    padding-top:130px;
    padding-bottom:170px;
}
 .title h4, .title h4{
    font-size:3.125em;
    font-family:Muli-Black;
}
 .title p , .title p{
    margin-bottom:40px;
    font-size:1.375em;
}
.listContainer{
    position: relative;
    margin-top:112px;
}
.rightFeature{
    position: absolute;width:40%;
    left:0;
    top:0;
    height:auto;
    background-image:linear-gradient(45deg ,#00C4FF,#0086AE);
    height:100%;;
    opacity:20%;
}
.freeCirecle{
position: absolute;
 background-image:linear-gradient(rgba(254, 185, 56, .5),rgba(255, 233, 93, .5));
 width:203px;
 height:203px;
 border-radius: 50%;
 left: 33%;
 top: 35%;
 padding:15px;
 z-index: 22;
 
}
.featureIcon{
    width:80px;
    display: inline-block;
    margin-right:30px;
    float: left;
    margin-top: 20px;

}
.featureContent{
    display: inline-block;
}
.featrureList li{
    padding-bottom:40px;
  padding-top:35px;
}
.featrureList li:first-child{
  
  padding-top:0;
}
.featrureList hr{
background-color: #707070;
opacity: 20%;
margin-left:50px;
width:100%;
height:1px;
}
.textBackground{
    background-image:linear-gradient(to bottom ,#F5BB16, #FFE95D); 
    width:173px;
    height: 173px;
    border-radius: 50%;
    position: absolute;
    z-index: 11;
    text-align: center;
    padding-top:40px;
}
.textBackground span{
font-size:0.938em;
color:white;

}
.textBackground p{
font-size:2.000em;
color:white;
font-family: Muli-Bold;
}
.featureContent h5{
    font-size:1.375em;
    color:#202020;
}
.featureContent p{
    color:#707070;
    font-size:1.125em
}
.SuccessStories{
    padding-bottom:180px;
}
.successSlider{
    margin-top:20px;
}
.successSliderItem{
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    transition: all .5s;
}
.successSliderItem:hover{
background-color: #80D5EE;
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
transition: all .5s;

}
.sliderImgContainer{
    width:100%;
    height:283px;
    overflow: hidden;
    transition: all .5s;
}
.successSliderItem:hover .sliderContent{
    border-bottom: 1px solid #fff
}
.successSliderItem:hover .sliderImgContainer{
    transform:scale(1.1);
    overflow: hidden;
    transition: all .5s;
}
.sliderContent{
    padding:32px 22px;
    border-bottom: 1px solid rgba(112, 112, 112, .11);
 
}
.successSliderItem:hover .sliderContent h4 ,.successSliderItem:hover .sliderContent p,.successSliderItem:hover  .sliderTail a,.successSliderItem:hover  .sliderTail a i{
    color:white;
    transition: all .5s;

}
.sliderContent h4{
    font-size:1.375em;
    color:#202020;
    margin-bottom:20px;
}
.sliderContent p{
    color:#707070;
    font-size:1.000em;
}
.sliderTail {
    padding:33px 40px;
    text-align: center;
    
}
.sliderTail a{
    color:#0086AE;
    font-size:1em;

}
.sliderTail  a i{
    line-height: 1.5;
    color:#BEBEBE;
}
.Membership{
    background-image:url("../images/membership.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:119px;
    padding-bottom:125px;
}
.MemberShipTitle h4{
font-size:2.250em;
color:white;
margin-bottom:35px;
font-family: Muli-Bold;
}
.MemberShipTitle p{
font-size:1.375em;
color:white;
margin-bottom:60px;
}
.MembershipBtn{
    display: inline-block;
    margin-right:20px;
    width:190px;
    height:50px;
    border-radius: 50px;
    background-color:rgba(255,255,255,.19);;
    color:white;
    font-size: 1em;
    font-family: Muli-SemiBold;
    line-height: 32px;
    transition: all .5s;;
}
.MembershipBtn:hover{
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    color:white;
    transition: all .5s;;
}
.members{
    padding:125px 0 290px;
}
.sliderContainer{
    width:100%;
    background-color:#E6F1F9;
    margin-top:60px;
}
.membersItem{
    background-color:white;
    padding:30px 0;
    border-radius: 40px;
    overflow: hidden;
    margin-top:60px;
    padding:25px 0;
    text-align: center;
    transition: all .5s;;

}
.memberImg{
    width:175px;
    height:175px;
    border-radius: 50%;
    border:6px solid rgba(0, 134, 174, .17);
    overflow: hidden;
    margin:auto;
    margin-bottom:20px
}
.memberDesc h3{
    font-size:1.438em;
    color:#202020;
    margin-bottom:10px;
    font-family: Muli-ExtraBold;
}
.membersItem:hover .memberDesc h3{
    color:#0086AE;

}
.membersItem:hover{
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    transition: all .5s;;
}
.memberDesc p{
    color:#0086AE;
    font-size:1.063em;
}
.owl-stage-outer { 
    overflow: visible;
    }
    
 .owl-item {
       opacity: 0;
       transition: opacity .2s;
    }
 .owl-item.active {
      opacity: 1;
    }
.owl-stage{
    padding:50px 0
}
.footer{
    background-image: url("../images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:240px;
}
.subscribe{
    position: relative;
    padding:0 15px;
margin-bottom:50px;
}
.send{
    position: absolute;
    width:44px;
    height:44px;
    border-radius: 50%;
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    text-align: center;
    right: 20px;
    top: 55%;
    transition: all .5s;
}
.send:hover{
    background: none;
background-color: white;
transition: all .5s;
}
.send:hover i{
    color:#F5BB16;
    transition: all .5s;

}

.send i{color:white;
    transition: all .5s;
line-height: 42px;}
.footer h3{
color:white;
font-size:1.375em;
margin-bottom:30px;

}
.form-control.footerFormControl{
width: 100%;
height:52px;
background-color:rgba(255,255,255,.19);
border:1px solid rgba(255,255,255,.57);
border-radius: 50px;;
}
.form-control.footerFormControl::placeholder{
    font-size:16px;
    color:rgba(255,255,255,.57);
    padding-left:20px;
}
.footer .row{
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.FooterLogo{
    width:170px;
    margin-bottom:20px;
}
.footerRow{
    padding:35px 0;
}
.footerSocial{
    display: inline-block;
    margin-top:30px;
}
.footerSocial li{
    display: inline-block;
    width:39px;
    height:39px;
    border-radius: 50%;
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    text-align:center;
    margin-right:10px;
    transition: all .3s;
}
.footerSocial li:last-child{
    margin-right: 0;;
}
.footerSocial li:hover{
    background: none;
    background-color:rgba(255,255,255,.4);
    transition: all .3s;;
}
.footerSocial li:hover i.fa-facebook-f{
    color:#3b5998;
}
.footerSocial li:hover i.fa-twitter{
   color: #00acee;
}
.footerSocial li:hover i.fa-instagram{
    color:  #F56040 
 }
 .footerSocial li:hover i.fa-google-plus-g{
    color:  #db4a39  
 }
 .footerSocial li:hover i.fa-play{
    color:   #FF0000 
 }


.footerSocial li i{
    line-height: 39px;
    color:white;
    font-size: 15px;

}

@media(min-width:300px) and (max-width:767px){
    
    .signInSection{
        float:none;margin-top:20px;
    }
    .SignIn.btn{
        margin-left:0;
    }
    .getMembership{
        float:none;
    }
    .heroSection{
        margin-top:20px;
        padding-bottom:20px;
    }
    .counterBox{
        margin-bottom:20px;
    }
    .counters{
        padding-bottom:20px;
    }
    .meetImg{
        width:100%;
        float:none;
    }
.workBox{
        padding:15px 0;
        margin-bottom:20px;
    }
    .howWork{
        padding:20px 0;
    }
    .Features{
        padding:30px 0;
    }
    .Features hr{
        margin:0;
    }
    .freeCirecle {
        position: relative;
        left: auto;
        top: auto;
    margin:auto; 
}
.rightFeature {
    width: 100%;
    left: 0;
    top: -14px;
    height: 225px;
}
.listContainer{
    margin-top:20px;
}
.featureContent{
    width:65%;
}
.featrureList{
    margin-top:20px;
}
.featrureList li{
    padding:10px 0;
}
.Features .title h4{
    font-size:2.125em;
    font-family:Muli-Black;
}
.meetPeople h2 {
    font-size: 2.125em;
    max-width: 100%;
    margin-bottom: 38px;}
    .SuccessStories{
        padding-bottom:30;

    }
    .Membership{
       
        padding-top:20px;
        padding-bottom:20px;
    }
}