/*-----------Public-----------*/

@font-face{
    font-family: Muli-Light;
    src:url("../fonts/Muli-Light.ttf")
}
@font-face{
    font-family: Muli-SemiBold;
    src:url("../fonts/Muli-SemiBold.ttf")
}
@font-face{
    font-family: Muli-Bold;
    src:url("../fonts/Muli-Bold.ttf");
}
@font-face {
 font-family: Muli-ExtraBold;
 src:url("../fonts/Muli-ExtraBold.ttf");
}
@font-face {
    font-family:Muli-Black;
 src:url("../fonts/Muli-Black.ttf");
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;;
}
a{
    color:black;
}
img{
    width:100%;
}
body, html{
    margin:0;
    padding:0;
    background:#FAFBFF;
    font-family: Muli-Light;
    font-size:16px;
}
/*--------------Hearo-------------*/
.HeaderContainer{
    background-image: url("../images/header.png");
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
header{
    padding-top:20px;
}
.navbar-brand{
    width:166px;
}
.languge {
    float:left;
}
.languge .btn{
    background-color: rgba(255,255,255,.42);
    border-radius: 10px;
    color:white;
    font-size:.875em;
    width:47px;
    height:34px;
    text-align: center;
}


.languge .dropdown-menu {
    font-size: .875em;
    text-align: center;
    min-width:50px;
    border-radius: 10px;
    color: white;
    height: 34px;
    overflow: hidden;
    background-color: rgba(255,255,255,.42);}
    .languge .dropdown-menu  .dropdown-item {
       padding:0; 
       color:white;
    }.dropdown-item:focus, .dropdown-item:hover {
        color: #16181b;
        text-decoration: none;
        background-color: transparent;
    }
.signInSection{
    float:right;
}
.SignIn.btn{
    background-color:white;
    border-radius: 50px;
    width:121px;
    height:40px;
    color:#F5BB16 !important;
    font-size:.875em;
    text-align: center;
    margin-left:8px;
}
.SignIn.btn:hover{
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    color:white !important;
}
.form-group-title{
    font-size:1.125em;
    font-family: Muli-Bold;
}
.navbar-expand-lg{
    width:100%;
}
.heroSection{
    margin-top:80px;
    color:white;
    padding-bottom:180px;
}
.JoinBox{
    background-color:white;
    padding:65px 35px 50px;
    border-radius: 40px;;
    color:#202020;
}
.heroText{
    font-size:2.5em;
    margin-bottom:50px;
    max-width:75%;
    font-family: Muli-Bold;
}
.radioButtonContainer{
    display: inline-block;
    position: relative;
    padding-left: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.125em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left:33px;
}
.radioButton{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
}
.checkmark {
    position: absolute;
    top: 3px;;
    left:-5px;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    border:1px solid #F5BB16;
    padding:6px;
    
  }
  .radioButtonContainer:hover .radioButton ~ .checkmark {
    background-color: white;
  }
 
  .radioButtonContainer .radioButton:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radioButtonContainer .checkmark:after {
      content:"";
      top: 2px;
      left: 2px;
      position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F5BB16;
    display: none
  }
  .form-control.ageconttrol{
      width:85px;
      height:55px;
      border-radius: 58px;
      border:1px solid #E5E5E5;
      display: inline-block;
  }
  .form-control.ageconttrol::placeholder{
      font-size:1.125em;
      color:#202020;
      opacity: .7;
      text-align: center;
  }
  .Rightside .dash{
      margin:0 10px;
      color:#707070;
      font-size: 1.125em;
  }
  .hero .form-group{
      margin-bottom: 0;;
  }
.heroForm  .formlist{
padding-top:25px;
padding-bottom:25px;
border-bottom: 1px solid #707070;
  }
  .heroForm  .formlist:last-child{
          border-bottom: 0;
      }
      .heroForm  .formlist:first-child{
padding-top: 0;
      }
  .selectric-wrapper{
width:255px;
height:55px;
border-radius: 58px;
border:1px solid #E5E5E5;
  }
  .selectric-items li:hover {
    color: #fff;
    background-color: #F5BB16;
}
.selectric-items li.selected {
    color: #666;
}
.selectric-open .selectric-items{
    border-radius: 12px;;
}
.btn.joinBtn{
    width:190px;
    height:50px;
    border-radius: 58px;
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    margin:auto;
    color:white;
    transition: all .3s;
    border:1px solid transparent;
}
.btn.joinBtn:hover{
    transition:all .3s;
 border:1px solid #F5BB16;
    color:#F5BB16;
    background: none;
    background-color:white;
    margin:auto;
}
.getMembership a{
    
    font-size:.875em;
    color:white;
    text-decoration: underline;
}
.getMembership {
    margin-top:22px;
    float:right;
}
.counters{
margin-top:50px;
padding-bottom:150px;
}
.counterBox{
    background-color:white;
    border-radius: 30px;
    text-align: center;
    padding:27px 0;  
    transition: all .5s;

}
.counterBox:hover .counterImg{
    transform:scale(1.1);
    transition: all .5s;
}
.counterBox:hover{
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    transition: all .5s;

}
.counterImg{
    width:90px;;
    margin:auto;
    margin-bottom:22px;
    height:70px;
    transition: all .5s;

}
.counterImg.genderImg{
    width:50px;
}
.counterNum{
    margin-top:22px;
    margin-bottom:11px;
    font-size:1.875em;
    font-family: Muli-ExtraBold;

}
.meetPeople{
    padding-bottom:127px;
}
.meetPeople h2{
font-size:3.125em;
max-width: 75%;
margin-bottom:60px;
color:#202020;
font-family:Muli-Black;
}
.meetPeople p{
    font-size:1.375em;
    color:#707070;
    margin-bottom:58px
}
.meetImg{
    width:90%;
    border-radius: 40px;
    overflow: hidden;
    float: right;
}
.howWork{
    padding-top:79px;
    padding-bottom:150px;
    background-image: url("../images/work.png");
}
.workBox{
    background-color:white;
    border-radius: 40px;
    box-shadow: 0px 15px 25px rgba(0,0,0,.07);
    padding:60px 0 55px;
    text-align: center;
}

.workImg{
    margin:auto;
    position: relative;
    width:195px;
    height:195px;
    margin-bottom:60px;
}
.howWork  .second_img.workImg{
width:278px;
}
.badge-info{
    position: absolute;
    width:65px;
    height:65px;
    border-radius: 50%;
    font-size: 1.625em;
    color:white;
    text-align: center;
    right: -3px;
    line-height: 50px;
    bottom: -14px;
    background: linear-gradient(45deg, #0086AE, #00C4FF);
}
.second_img.workImg .badge-info{
    right:62px;

}
.tellUs{
    font-size:1.625em;
    font-family: Muli-Bold;
    color:#202020;
    margin-bottom:23px;
}
.joinLink{
    font-size:1.250em;
    color:#F5BB16;
}
.Features{
    padding-top:130px;
    padding-bottom:170px;
}
 .title h4, .title h4{
    font-size:3.125em;
    font-family:Muli-Black;
}
 .title p , .title p{
    margin-bottom:40px;
    font-size:1.375em;
}
.listContainer{
    position: relative;
    margin-top:112px;
}
.rightFeature{
    position: absolute;width:40%;
    left:0;
    top:0;
    height:auto;
    background-image:linear-gradient(45deg ,#00C4FF,#0086AE);
    height:100%;;
    opacity:20%;
}
.freeCirecle{
position: absolute;
 background-image:linear-gradient(rgba(254, 185, 56, .5),rgba(255, 233, 93, .5));
 width:203px;
 height:203px;
 border-radius: 50%;
 left: 33%;
 top: 35%;
 padding:15px;
 z-index: 22;
 
}
.featureIcon{
    width:80px;
    display: inline-block;
    margin-right:30px;
    float: left;
    margin-top: 20px;

}
.featureContent{
    display: inline-block;
}
.featrureList li{
    padding-bottom:40px;
  padding-top:35px;
}
.featrureList li:first-child{
  
  padding-top:0;
}
.featrureList hr{
background-color: #707070;
opacity: 20%;
margin-left:50px;
width:100%;
height:1px;
}
.textBackground{
    background-image:linear-gradient(to bottom ,#F5BB16, #FFE95D); 
    width:173px;
    height: 173px;
    border-radius: 50%;
    position: absolute;
    z-index: 11;
    text-align: center;
    padding-top:40px;
}
.textBackground span{
font-size:0.938em;
color:white;

}
.textBackground p{
font-size:2.000em;
color:white;
font-family: Muli-Bold;
}
.featureContent h5{
    font-size:1.375em;
    color:#202020;
}
.featureContent p{
    color:#707070;
    font-size:1.125em
}
.SuccessStories{
    padding-bottom:180px;
}
.successSlider{
    margin-top:20px;
}
.successSliderItem{
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    transition: all .5s;
}
.successSliderItem:hover{
background-color: #80D5EE;
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
transition: all .5s;

}
.sliderImgContainer{
    width:100%;
    height:283px;
    overflow: hidden;
    transition: all .5s;
}
.successSliderItem:hover .sliderContent{
    border-bottom: 1px solid #fff
}
.successSliderItem:hover .sliderImgContainer{
    transform:scale(1.1);
    overflow: hidden;
    transition: all .5s;
}
.sliderContent{
    padding:32px 22px;
    border-bottom: 1px solid rgba(112, 112, 112, .11);
 
}
.successSliderItem:hover .sliderContent h4 ,.successSliderItem:hover .sliderContent p,.successSliderItem:hover  .sliderTail a,.successSliderItem:hover  .sliderTail a i{
    color:white;
    transition: all .5s;

}
.sliderContent h4{
    font-size:1.375em;
    color:#202020;
    margin-bottom:20px;
}
.sliderContent p{
    color:#707070;
    font-size:1.000em;
}
.sliderTail {
    padding:33px 40px;
    text-align: center;
    
}
.sliderTail a{
    color:#0086AE;
    font-size:1em;

}
.sliderTail  a i{
    line-height: 1.5;
    color:#BEBEBE;
}
.Membership{
    background-image:url("../images/membership.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:119px;
    padding-bottom:125px;
}
.MemberShipTitle h4{
font-size:2.250em;
color:white;
margin-bottom:35px;
font-family: Muli-Bold;
}
.MemberShipTitle p{
font-size:1.375em;
color:white;
margin-bottom:60px;
}
.MembershipBtn{
    display: inline-block;
    margin-right:20px;
    width:190px;
    height:50px;
    border-radius: 50px;
    background-color:rgba(255,255,255,.19);;
    color:white;
    font-size: 1em;
    font-family: Muli-SemiBold;
    line-height: 32px;
    transition: all .5s;;
}
.MembershipBtn:hover{
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    color:white;
    transition: all .5s;;
}
.members{
    padding:125px 0 290px;
}
.sliderContainer{
    width:100%;
    background-color:#E6F1F9;
    margin-top:60px;
    padding:50px 0;
}
.membersItem{
    background-color:white;
    padding:30px 0;
    border-radius: 40px;
    overflow: hidden;
    margin-top:60px;
    padding:25px 0;
    text-align: center;
    transition: all .5s;;

}
.memberImg{
    width:175px;
    height:175px;
    border-radius: 50%;
    border:6px solid rgba(0, 134, 174, .17);
    overflow: hidden;
    margin:auto;
    margin-bottom:20px
}
.memberDesc h3{
    font-size:1.438em;
    color:#202020;
    margin-bottom:10px;
    font-family: Muli-ExtraBold;
}
.membersItem:hover .memberDesc h3{
    color:#0086AE;

}
.membersItem:hover{
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    transition: all .5s;;
}
.memberDesc p{
    color:#0086AE;
    font-size:1.063em;
}
.owl-stage-outer { 
    overflow: visible;
    padding:20px;
    }
    
 .owl-item {
       opacity: 0;
       transition: opacity .2s;
    }
 .owl-item.active {
      opacity: 1;
    }

.footer{
    background-image: url("../images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:240px;
}
.subscribe{
    position: relative;
    padding:0 15px;
margin-bottom:50px;
}
.send{
    position: absolute;
    width:44px;
    height:44px;
    border-radius: 50%;
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    text-align: center;
    right: 20px;
    top: 55%;
    transition: all .5s;
}
.send:hover{
    background: none;
background-color: white;
transition: all .5s;
}
.send:hover i{
    color:#F5BB16;
    transition: all .5s;

}

.send i{color:white;
    transition: all .5s;
line-height: 42px;}
.footer h3{
color:white;
font-size:1.375em;
margin-bottom:30px;

}
.form-control.footerFormControl{
width: 100%;
height:52px;
background-color:rgba(255,255,255,.19);
border:1px solid rgba(255,255,255,.57);
border-radius: 50px;;
}
.form-control.footerFormControl::placeholder{
    font-size:16px;
    color:rgba(255,255,255,.57);
    padding-left:20px;
}
.footer .row{
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.FooterLogo{
    width:170px;
    margin-bottom:20px;
}
.footerRow{
    padding:35px 0;
}
.footerSocial{
    display: inline-block;
    margin-top:30px;
}
.footerSocial li{
    display: inline-block;
    width:39px;
    height:39px;
    border-radius: 50%;
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    text-align:center;
    margin-right:5px;
    transition: all .3s;
}
.footerSocial li:last-child{
    margin-right: 0;;
}
.footerSocial li:hover{
    background: none;
    background-color:rgba(255,255,255,.4);
    transition: all .3s;;
}
.footerSocial li:hover i.fa-facebook-f{
    color:#3b5998;
}
.footerSocial li:hover i.fa-twitter{
   color: #00acee;
}
.footerSocial li:hover i.fa-instagram{
    color:  #F56040 
 }
 .footerSocial li:hover i.fa-google-plus-g{
    color:  #db4a39  
 }
 .footerSocial li:hover i.fa-play{
    color:   #FF0000 
 }


.footerSocial li i{
    line-height: 39px;
    color:white;
    font-size: 15px;

}
.footerTitle{
  font-size:1.375em;
  color:white;
  font-family: Muli-ExtraBold;  
  margin-bottom:23px;
}
.footerList li{
    margin-bottom:20px;
}
.footerList li a{
    color:white;
    font-size:1.375em;
}
.copyRight{
    width:100%;
    padding:24px 0;
    text-align:center;
    font-size:1em;
    color:white;
}
 .modal-dialog{
    width:347px;

}
.modal-content{
    padding:24px 30px;
    border-radius: 25px;;
}
.modal-title {
font-size:1.75em;
color:#202020;
font-family:Muli-Black;
margin-bottom:30px;
}
.modalForm .form-group{
width:100%;
margin-bottom:18px;
}
.modalForm .form-group .form-control{
    width:100%;
    background-color: #F3F3F3;
    border:1px solid #E5E5E5;
    height:50px;
    border-radius: 50px;
}
.modalForm .form-group .form-control::placeholder{
    font-size:16px;
    font-family: Muli-SemiBold;
    color:rgba(32, 32, 32, .5);
    margin-right: 22px;;
}
.close span{
    float: right;

}
.modal-body{
    padding:0;
}
.rememberPass{
    font-size:14px;
    font-family: Muli-SemiBold;
}
.modalForm  .passwordFormGroup.form-group{
    margin-bottom:10px;
}
.btn.joinBtn.modalLoginBtn{
margin-top:10px;
width:100%;
border:1px solid transparent;
box-shadow: 0 6px 15px rgba(0, 150, 194, .22);
line-height: 31px;;
}
.btn.joinBtn.modalLoginBtn:hover{
    border:1px solid #F5BB16;   
}
.forgetPassword{
font-size:14px;
color:#202020;
margin-top:15px;
font-family: Muli-SemiBold;
display: block;
text-align: center;
}
.or{
    position: relative;
    text-align: center;
    margin-top:18px;
    font-size:14px;
    color:rgba(32, 32, 32, .5);
    font-family: Muli-SemiBold;
}
.or:before{
    position: absolute;
    content:"";
    width:45%;
    left:0;
    top:50%;
    border-bottom:1px solid rgba(112, 112, 112, .18);
}
.or:after{
    position: absolute;
    content:"";
    width:45%;
    right:0;
    top:50%;
    border-bottom:1px solid rgba(112, 112, 112, .18);
}
.modalLoginBtn i{
    margin-right:10px;
}
.joinBtn.modalLoginBtn.facbookBtn{
background:none;
background-color:#3C5A9A;
}
.joinBtn.modalLoginBtn.facbookBtn:hover{
    background-color:white;
    color:#3C5A9A;
    border:1px solid #3C5A9A;
    }
.joinBtn.modalLoginBtn.googleplusBtn{
    background:none;
    background-color:#DC4A38;
}
.joinBtn.modalLoginBtn.googleplusBtn:hover{
    background-color:white;;
    border:1px solid #DC4A38;
    color:#DC4A38 ;

}
#Membership .modal-dialog{
    max-width:90%;
    width:1013%;
    padding:44px 58px 104px;;
}
.membershipBox {
    position: relative;
    padding:28px 22px; 
    padding-bottom:50px;
    text-align: center;
    color:white;
    background-image: linear-gradient(to bottom ,#0086AE ,#00C4FF);
    background-repeat: no-repeat;
    border-radius: 25px;
    overflow: hidden;
    background-size: cover;
    width:100%;
    box-shadow: 0 10px 25px  rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.background{
    width:100%;
    position: absolute;
    top:12px;
    left:0px;
    opacity: .39;
}
.membershipBox h6{
    font-size:1.875em;
    font-family: Muli-ExtraBold;
}
.headerMember{
    padding-bottom:15px;
    border-bottom:1px solid  rgba(255,255,255,.3)
}
.headerMember h5{
    font-size:3em;
    font-family: Muli-Bold;
    margin-bottom:20px;
}
.headerMember span{
    font-size:1.25em;
    margin:0;
    display: block;
}
.membershipList{
    margin-top:20px;
}
.membershipList li{
    font-size:12px;
    margin-bottom:5px;
}
.membershipList li i{
    color:white;
    font-size:10px;
    margin-right:5px;
}
.joinBtn.modalLoginBtn.subscribeBtn{
    width:143px;
    height:48px;
    display: block;
    margin:auto;
    z-index: 22;
    position: relative;
    margin-top:-22px;
}
button:focus {
    outline: 0;
    outline: 0;
}
#Membership .modal-dialog {
    max-width: 100%;
    width: 97%;
    padding:0;
}
/*-----------------Regestration -------*/
.RegestrationContainer{
    position: relative;
    background-image:url("../images/reg.png");
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.RegestrationContainer:before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity: .65;
    z-index: 0;
background-image: linear-gradient(to bottom ,#0086AE ,#00C4FF);
}
.skip{
    color:#202020;
    font-size:14px;
    background-color: white;
    border:1px solid white;
width:120px;
height:40px;
border-radius: 50px;
font-family: Muli-SemiBold;
margin-left:20px;
}
.skip:hover{
    background-color: rgba(255,255,255,.4);
}
.signInSection span ,a.loginLink{
color:white !important;
font-size:14px;
font-family: Muli-SemiBold;
}
.loginLink{
    text-decoration: underline !important;
    font-family: Muli-ExtraBold;
}

.stepsForm{
    margin:auto;
    text-align: center;
    margin-top:40px;
    padding-bottom:20px;
}
.stepsWelcom{
    margin-top:45px;
}
.stepsWelcom h5{
    font-size:30px;
    font-family:Muli-Black;
    margin-bottom:19px;
    color:white;
}
.stepsWelcom p{
    font-size: 22px;
    color:white;
}
.stepsForm .form-control,.stepsForm .selectric-wrapper{
    width:100%;
    height:50px;
    border-radius: 50px;
    background-color: #84D8F2;
    border:1px solid rgba(255,255,255,.61);
    text-align: center;
    color:white;
    float: none;
    position: relative;

}
.stepsForm .selectric-wrapper .button{
    color:white;
}
.stepsForm .selectric-wrapper .label{
    color:white;
    text-align: center;
}
.stepsForm .form-group{
    width:291px;
    margin: auto;
    display: block;
    margin-bottom:20px;
    text-align: left;
}
.stepsForm .form-group.checkboxFormGroup{
    width:375px;
}
.stepsForm .form-group.uploadformGroup{
    width:500px;
}
.stepsForm .form-group.checkboxFormGroup{
   width:395px;}
.stepsForm .form-control::placeholder{
    color:white;
    text-align: center;
}
.stepsForm  label{
font-size:18px;
font-family: Muli-Bold;
color:white;
position: relative;

}
.btn.joinBtn.nextBtn{
    width:290px;
    margin:auto;
    margin-top:25px;
    position: relative;
    
}
.checkboxContainer{
    text-align: center;
}
.checkboxCont{
    position: relative;
}
.checkboxCont input{
    width:0;
    height: 0;;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.stepsForm .checkboxCont:first-child .checkboxStyle{
    margin-left:0;
}
.checkboxStyle{
position: relative;
    display: inline-block;
    margin-left:7px;
    background-color:#80D6F0;
height:30px;
font-size:12px;
border-radius: 50px;
text-align:center;
line-height: 15px;
padding:9px 11px;
}
.checkboxCont input[type=checkbox]:checked ~ .checkboxStyle {
    background: linear-gradient(45deg,#FFE95D, #FEB938);
    color:white;

  }
  .btn.SignIn.More{
position: relative;
display: inline-block;
width:auto;

padding: 4px 12px;
height: auto;
margin-left:0;
  }
  #rootwizard{
      position: relative;
  }
  .stepsForm textarea.form-control{
      width:100%;
      height:180px;
      border-radius: 15px;
      resize: none;
    text-align: left;
  }
  #uploadPhoto,#uploadPhotoCover{
visibility: hidden;
width: 0;
height: 0;
position: absolute;
  }
  .uploadImg{
      display: block;
      width:109px;
      height: 109px;
      margin:auto;
  }
.uploadCover{
    width:100%;
    height:180px;
    border-radius: 15px;
    background-color: #84D8F2;
    border:1px solid rgba(255,255,255,.61);
    text-align: center;
    display: block;

}
.innerImgCover{
    width:53px;
    height:35px;
    margin: auto;
    margin-top: 76px;

}
.form-group label.checkboxTitle{
    margin-left:50px;
}
.progress{
    height:6px;
    background-color: rgba(255,255,255,.2);

}
.progress-bar{
    background-color: white;;
}
.tab-content .tab-pane:last-child + .pager.wizard{
    display: none !important;
}
/*-------------Responsive --------------*/
/*-------------Small Screen --------------*/
@media(min-width:300px) and (max-width:767px){
    .RegestrationContainer{
        height:100%;
    }
    .modal-dialog{
        width:90%;
    }
    .joinBtn.modalLoginBtn.subscribeBtn{
        margin-bottom:20px;
    }
    .languge{
        float:right;
    }
    .signInSection{
        float:none;margin-top:20px;
    }
    .SignIn.btn{
        margin-left:0;
    }
    .getMembership{
        float:none;
    }
    .heroSection{
        margin-top:20px;
        padding-bottom:20px;
    }
    .counterBox{
        margin-bottom:20px;
    }
    .counters{
        padding-bottom:20px;
    }
    .meetImg{
        width:100%;
        float:none;
    }
.workBox{
        padding:15px 0;
        margin-bottom:20px;
    }
    .howWork{
        padding:20px 0;
    }
    .Features{
        padding:30px 0;
    }
    .Features hr{
        margin:0;
    }
    .freeCirecle {
        position: relative;
        left: auto;
        top: auto;
    margin:auto; 
}
.rightFeature {
    width: 100%;
    left: 0;
    top: -14px;
    height: 225px;
}
.listContainer{
    margin-top:20px;
}
.featureContent{
    width:65%;
}
.featrureList{
    margin-top:20px;
}
.featrureList li{
    padding:10px 0;
}
.Features .title h4{
    font-size:2.125em;
    font-family:Muli-Black;
}
.meetPeople h2 {
    font-size: 2.125em;
    max-width: 100%;
    margin-bottom: 38px;}
    .SuccessStories{
        padding-bottom:30;

    }
    .Membership{
       
        padding-top:20px;
        padding-bottom:20px;
    }
.MembershipBtn {
 margin-right: 10px;
width: 153px;}
.members{
padding:30px;
}
 .title h4{
 font-size:2em;
 }
 .sliderContainer{
     margin-top:0
 }
 .footer {
     padding-top: 100px;;
 }
 .stepsForm{
     padding:5px 20px;
     margin-top:0;
 }
 .stepsForm .form-group.uploadformGroup{
     width:100%
 }
 .skip {
    width: 77px;
    height: 36px;
    margin-left: 10px;
}
.stepsWelcom{
    margin-top:10px
}
.checkboxContainer{
text-align: left;
}
}
/*-------------Ipad Screen --------------*/

@media(min-width:768px)and (max-width:1024px){
    .footer ul{
        margin-bottom:10px;
    }
    .footer{
        padding-top:200px;
    }
    .members{
        padding:30px 0;
    }
    .freeCirecle {
        width: 180px;
        height: 180px;
        left: 10%;
        top: 29%;}
        .rightFeature {
        position: absolute;
        width: 25%;}
        .textBackground {
            width: 150px;
            height: 145px;
            padding-top: 26px;}
 .textBackground span{
     font-size:.650em;
 }
 .featureIcon{
     width:50px;
 }
 .featureContent{
     width:80%;
 }
 .featrureList li{
     padding-bottom:0;
     padding-top:0;
 }
 .workBox{
     margin-bottom:10px;
 }
 .meetPeople{
     padding:30px;
 }
 .meetImg{
     width:100%;
     float:none;
 }
 .counterBox{
     margin-bottom:10px;
 }
 .counters{
     padding:30px;
 }
 .heroSection{
     padding-bottom: 20px;;
     margin-top:20px;
 }
 .form-group-title{
     width:30%;
     font-size:.875em;
 }

 .radioButtonContainer {
     margin-right:10px;
     margin-left:10px;
     font-size:.857em;
     }
     .heroForm .formlist{
         padding:10px 0;
     }
     .form-control.ageconttrol{
        width: 61px;
        height: 39px;
     }
     .selectric-wrapper {
        width: 180px;
        height: 40px;}
        .JoinBox {
            background-color: white;
            padding: 20px 23px 10px;}
            .HeaderContainer{
                width:102%;
            }
body{
    overflow-x: hidden;
}
        
}